/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Usa una fuente más moderna */
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f9; /* Fondo claro para contraste */
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding-top: 60px; /* Agrega un relleno para compensar la altura de la barra de navegación */
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f9;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(34, 193, 195, 0.8);
  border-bottom: 1px solid rgba(34, 193, 195, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  transition: background 0.3s ease;
}

.logo a {
  font-size: 1.8em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
.menu-toggle {
  display: none; /* Oculta el botón de menú hamburguesa por defecto */
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta el menú en pantallas pequeñas */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: rgba(34, 193, 195, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    z-index: 9; /* Asegura que el menú se muestre sobre el contenido */
  }

  .nav-links.show {
    display: flex; /* Muestra el menú cuando la clase 'show' está presente */
  }

  .menu-toggle {
    display: block; /* Muestra el botón de menú hamburguesa en pantallas pequeñas */
  }
}

  
.contact-section {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 110vh; /* Asegura que la sección ocupe toda la altura de la ventana */
    
    position: relative; /* Permite posicionar elementos hijos correctamente */
  }
  
  .contact-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    position: relative; /* Asegura que el contenedor se posicione correctamente sobre el fondo */
  }
  
  .contact-form {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 320px;
  }

  .contact-form:hover{

    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.8); /* Aumentar sombra al pasar el cursor */
    
  }
  
  .contact-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .contact-form textarea {
    height: 100px;
    resize: vertical; /* Permitir redimensionar verticalmente */
  }
  
  .contact-form button {
    background-color: #22C1C3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #1a9a9a;
    
  }

  /* Fondo de video */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.video_contacto {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
  filter: brightness(0.6); /* Ajusta el brillo para hacer que el contenido sea más legible */
}

/* Estilos del modal */
.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
