/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Usa una fuente más moderna */
  }
  
  body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f9; /* Fondo claro para contraste */
    
  }
  
  /* Estilos generales */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    margin: 0;
   
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f9;
  }
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(34, 193, 195, 0.8);
    border-bottom: 1px solid rgba(34, 193, 195, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    transition: background 0.3s ease;
  }
  
  .logo a {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos responsivos */
  .menu-toggle {
    display: none; /* Oculta el botón de menú hamburguesa por defecto */
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Oculta el menú en pantallas pequeñas */
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: rgba(34, 193, 195, 0.9);
      flex-direction: column;
      align-items: center;
      padding: 15px 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      z-index: 9; /* Asegura que el menú se muestre sobre el contenido */
    }
  
    .nav-links.show {
      display: flex; /* Muestra el menú cuando la clase 'show' está presente */
    }
  
    .menu-toggle {
      display: block; /* Muestra el botón de menú hamburguesa en pantallas pequeñas */
    }
  }


.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F5F5;
    padding-top: 80px;
}


.hero-content {
    position: absolute;
    text-align: center;
    z-index: 2;
    color: #fff;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #22C1C3; /* Título con color vibrante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra al texto */
}


.hero p {
    font-size: 1.2em;
    color: #FF0080; /* Texto con color adicional */
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra al texto */

}

.content-section {
    position: relative; /* Para que el icono se posicione respecto a esta sección */
    padding: 20px;
  }
  
  .floating-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: floating 3s ease-in-out infinite; /* Añade la animación de flotación */
  }
  
  .floating-icon img {
    width: 100%;
    height: auto;
  }
  
  /* Definición de la animación */
  @keyframes floating {
    0%, 100% {
      transform: translateY(0); /* Posición inicial */
    }
    50% {
      transform: translateY(-10px); /* Subir 10px */
    }
  }
  

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #FF0080; /* Botón de llamada a la acción con color vibrante */
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;

    margin-top: 5px;
}

.cta-button:hover {
    background-color: #E60073;
    transform: scale(1.05); /* Animación al pasar el ratón */
}

.image-container {
    position: relative;
    width: 100vw; /* Ajusta el ancho al 100% del ancho de la ventana */
    height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana */
    overflow: hidden;
}

.main-image {
    position: absolute; /* Asegura que la imagen se posicione de forma absoluta en el contenedor */
    top: 0; /* Alinea la imagen al tope del contenedor */
    left: 0; /* Alinea la imagen al inicio del contenedor */
    width: 100%; /* Extiende la imagen a lo largo de todo el ancho del contenedor */
    height: 100%; /* Extiende la imagen a lo largo de toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.05) translateY(-10px);
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
