/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: #f4f4f9; /* Fondo claro para contraste */
  }
  
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background: #00ccff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
    padding: 5px 0px;
    transition: background 0.3s ease;
    height: 60px; /* Ajusta la altura fija del navbar si es necesario */
  }
  
  .logo a {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo */
  }
  
  .logo img {
    max-height: 100%; /* Limita la altura al 100% del contenedor */
    height: 70px; /* Define una altura fija para el logo */
    width: auto; /* Mantiene la proporción del logo */
    border: none; /* Elimina cualquier borde */
  }
  
  
  .nav-links {
    list-style: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Muestra los enlaces en línea */
    gap: 20px; /* Espacio entre los enlaces */
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 1.2em; /* Tamaño de fuente de los enlaces */
    padding: 10px; /* Espacio alrededor del texto */
    transition: color 0.3s ease; /* Transición suave para el color */
  }
  
  .nav-links a:hover {
    color: #22C1C3; /* Color de los enlaces al pasar el ratón */
  }
  
  /* Estilos responsivos */
  .menu-toggle {
    display: none; /* Oculta el botón de menú hamburguesa por defecto */
    cursor: pointer;
    font-size: 1.8rem;
    color: #fff;
  }

  
  /* Contenedor de los íconos flotantes */
.floating-icon-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 20px;
  bottom: 20px;
  gap:10px ;
}

/* Estilo para cada ícono flotante */
.floating-icon {
  width: 70px;
  height: 70px;

}

/* Estilo de la imagen dentro del ícono */
.floating-icon img {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Hace que el icono sea circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra suave */
  background-color: #fff; /* Fondo blanco */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto hover en la imagen */
.floating-icon:hover img {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más grande al hacer hover */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animación flotante (opcional) */
.floating-icon {
  animation: float 3s ease-in-out infinite; /* Efecto de flotación suave */
}

/* Animación de flotación */
@keyframes float {
  0%, 100% {
      transform: translateY(0); /* Posición inicial */
  }
  50% {
      transform: translateY(-10px); /* Sube 10px */
  }
}

.testimonials-section {
  padding: 50px 5%;
  background-color: #f5f5f5;
  text-align: center;
  justify-items: center;
  align-content: center;
  gap:40px;
}


#title-test{
  padding: 20px;
  font-size: 1em;
  color:#666;
}

.testimonials-section h2 {
  font-size: 2.5rem;
  color: #22C1C3;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  margin-top: 40px;
  justify-items: center;
 
}


.testimonial-card {
  background-color: #fff;
  max-width: 80%;
  max-height: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #22C1C3;
  transition: .5s ease;
  cursor:default;
}

.testimonial-card:hover h4{
  color:chartreuse;
}


.testimonial-card img {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  margin-bottom: 15px;
  object-fit: contain;
  /* transform: translateY(-75px); */
}

.testimonial-card h3 {
  font-size: 1.5rem;
  color: #22C1C3; /* Color azul-verde */

}



.testimonial-card:hover h3 {
  color: #fff; /* Cambia el color del texto h3 cuando está en hover */
}

.testimonial-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.4em;

}


.testimonial-card:hover p{
  color: whitesmoke;
}





.testimonial-card h4 {
  color:slategray;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}
  


.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #F5F5F5;
    padding-top: 80px;
}


.hero-content {
  position: absolute;
  text-align: center;
  z-index: 2;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Empuja el contenido hacia la parte superior */
  align-items: center; /* Centra horizontalmente */

  top:100px; /* Asegúrate de que el contenido comience desde la parte superior */
  width: 100%; /* Opcional, para asegurarte de que ocupe todo el ancho */
  padding-top: 20px; /* Ajusta este valor según el espaciado que desees */
}




.hero h1 {
  margin-bottom: 20px;
  color: #FF0080; /* Color rosa vibrante */
  text-shadow: 
    .5px .5px 0 rgba(0, 0, 0, 1), /* Borde negro a la derecha y abajo */
    -.5px -.5px 0 rgba(0, 0, 0, 1), /* Borde negro a la izquierda y arriba */
    .5px -.5px 0 rgba(0, 0, 0, 1), /* Borde negro en diagonal */
    -.5px .5px 0 rgba(0, 0, 0, 1); /* Borde negro en diagonal */

  font-size: 85px !important;
}


.hero p {
  font-size: 1.5em; /* Aumenta el tamaño del texto para hacerlo más visible */
  color: rgb(255, 255, 255); /* Cambia el color del texto a blanco para alto contraste */
  /* text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6), 0 0 25px rgba(255, 0, 0, 0.6); Sombra más pronunciada y brillante */
  letter-spacing: 1px; /* Aumenta el espaciado entre las letras para mayor legibilidad */
  line-height: 1.6; /* Da más espacio entre las líneas para que el texto sea más legible */
  padding: 10px; /* Añade algo de espacio alrededor del texto */
  border-radius: 8px; /* Bordes redondeados */
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); Sombra de fondo para el párrafo */
  text-align: center; /* Centra el texto */
  text-shadow: 
  .5px .5px 0 rgba(0, 0, 0, 1), /* Borde negro a la derecha y abajo */
  -.5px -.5px 0 rgba(0, 0, 0, 1), /* Borde negro a la izquierda y arriba */
  .5px -.5px 0 rgba(0, 0, 0, 1), /* Borde negro en diagonal */
  -.5px .5px 0 rgba(0, 0, 0, 1); /* Borde negro en diagonal */
  width: 70%;
}



.content-section {
    position: relative; /* Para que el icono se posicione respecto a esta sección */
    padding: 20px;
  }
  
  
  
  /* Definición de la animación */
  @keyframes floating {
    0%, 100% {
      transform: translateY(0); /* Posición inicial */
    }
    50% {
      transform: translateY(-10px); /* Subir 10px */
    }
  }
  

.cta-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #FF0080; /* Botón de llamada a la acción con color vibrante */
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;

    margin-top: 5px;
}

.cta-button:hover {
    background-color: #E60073;
    transform: scale(1.05); /* Animación al pasar el ratón */
}

.image-container {
    position: relative;
    width: 100vw; /* Ajusta el ancho al 100% del ancho de la ventana */
    height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana */
    overflow: hidden;
}

.main-image {
    position: absolute; /* Asegura que la imagen se posicione de forma absoluta en el contenedor */
    top: 0; /* Alinea la imagen al tope del contenedor */
    left: 0; /* Alinea la imagen al inicio del contenedor */
    width: 100%; /* Extiende la imagen a lo largo de todo el ancho del contenedor */
    height: 100%; /* Extiende la imagen a lo largo de toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.05) translateY(-10px);
    }
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}






/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      top: 60px;
      right: 0;
      background-color: #00ccff;
      width: 100%;
      padding: 20px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 999;
  }

  .nav-links.show {
      display: flex;
  }

  .menu-toggle {
      display: block;
      padding-right: 20px;
  }
  
}

