/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f9; /* Fondo claro para contraste */
} 


.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background:#00ccff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra en la parte inferior */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
  transition: background 0.3s ease;
}

.logo a {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo */
}

.logo img {
  height: 50px; /* Ajusta la altura del logo según tus necesidades */
  width: auto; /* Mantiene la proporción del logo */
  border: none; /* Elimina cualquier borde */
}

.nav-links {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Muestra los enlaces en línea */
  gap: 20px; /* Espacio entre los enlaces */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff; /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-size: 1.2em; /* Tamaño de fuente de los enlaces */
  padding: 10px; /* Espacio alrededor del texto */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.nav-links a:hover {
  color: #22C1C3; /* Color de los enlaces al pasar el ratón */
}

/* Estilos responsivos */
.menu-toggle {
  display: none; /* Oculta el botón de menú hamburguesa por defecto */
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta el menú en pantallas pequeñas */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: rgba(34, 193, 195, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    z-index: 9; /* Asegura que el menú se muestre sobre el contenido */
  }

  .nav-links.show {
    display: flex; /* Muestra el menú cuando la clase 'show' está presente */
  }

  .menu-toggle {
    display: block; /* Muestra el botón de menú hamburguesa en pantallas pequeñas */
  }
}



h1, h2 {
  text-align: center;
  color: #22C1C3; /* Color azul-verde */
  margin-bottom: 20px;
}

.parallax {
  height: 100vh;
  position: relative;
  overflow: hidden; /* Oculta el contenido que se desborda */
  perspective: 1px; /* Establece la perspectiva del parallax */
  transform-style: preserve-3d; /* Permite la transformación 3D */
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(-1px) scale(2); /* Desplaza el video hacia atrás y lo escala para crear efecto parallax */
  z-index: -1; /* Coloca el video detrás del contenido */
}

.overlay {
  position: relative; /* Asegura que el texto y contenido de overlay estén delante del video */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1; /* Asegura que el contenido de overlay esté delante del video */
}

.overlay h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #FF0080; /* Color rosa vibrante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra al texto */
}

.overlay p {
  font-size: 1.5rem;
}

.gallery-section {
  padding: 60px 5%;
  background-color: #fff;
  background-image: url("images/fondoweb6.png");
  background-size:cover; /* Ajusta el tamaño de la imagen para cubrir el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.gallery-section h2 {
  font-size: 2.5rem;
  color: #22C1C3; /* Títulos en color azul-verde */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
  padding-top: 20px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  max-height: 85%;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease , scale 0.3s;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); /* Efecto blur */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.gallery-item.active .description {
  opacity: 1;
}

.gallery-item:hover img {
  transform: scale(1.1);
  
}

.gallery-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item.active::before {
  opacity: 1;
}



/* Estilos para la sección de perfiles */
.profiles-section {
  padding: 60px 5%;
  background-color: #f9f9f9;
  text-align: center; /* Centra el texto y contenido dentro de la sección */
  
}

.profiles-section h2 {
  font-size: 2.5rem;
  color: #FF0080; /* Color azul-verde */
  margin-bottom: 40px;
  padding: 20px 0;
}

.profiles-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  justify-content: center; /* Centra los elementos de la cuadrícula horizontalmente */
  max-width: 1200px; /* Controla el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor de perfiles en la sección */
}

.profile-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 20%;
  transition: transform 0.3s ease, box-shadow 0.3s, color .5s ease , background-image 1s ease;  
  margin: 0 auto; /* Centra los perfiles dentro de la cuadrícula */
}

.profile-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: default;

}

.profile-item h4{
  color: rgba(0, 0, 0, 0.3); /* Negro con 50% de transparencia */

}
.profile-item:hover h3{
  color: snow;
}


.profile-item:nth-child(1):hover {
  
  background-image: linear-gradient(135deg, rgba(250, 128, 114, 1), rgba(250, 128, 114, 0.5)); /* Salmón sólido a salmón transparente */
}


.profile-item:nth-child(2):hover {
  background-image: linear-gradient(135deg, rgba(255, 0, 128, 1), rgba(255, 0, 128, 0.5)); /* Fucsia sólido a fucsia transparente */

}


.profile-item:nth-child(3):hover {
  background-image: linear-gradient(165deg, rgba(255, 255, 0, 1), rgba(255, 255, 0, 0.5)); /* Amarillo sólido a amarillo transparente */

}

.profile-item:nth-child(4):hover {
  background-image: linear-gradient(135deg, rgba(173, 255, 47, 1), rgba(173, 255, 47, 0.5)); /* Greenyellow sólido a greenyellow transparente */

}




.profile-item:hover h4{
  color:#666;
  transform: translateY(-15px);
  transition: .2s ease-in-out;

}

.profile-item h4 {
  transition: transform .2s ease;
}

.profile-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;

}


.profile-info {
  padding: 20px;
  text-align: center;
}

.profile-info h3 {
  font-size: 1.8rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra al texto */
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .profiles-grid {
    grid-template-columns: 1fr; /* En pantallas pequeñas, cada perfil ocupará toda la fila */
  }
}


.carousel-section {
  padding: 20px 5%;
  background-color: #f9f9f9;
  text-align: center;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 10px; /* Bordes redondeados para un aspecto moderno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  height: 400px; /* Altura del carrusel */

}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%; /* Asegura que el carrusel ocupe toda la altura del contenedor */
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  height: 100%; /* Asegura que cada ítem ocupe toda la altura del carrusel */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
  border-radius: 10px; /* Bordes redondeados para las imágenes */
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .carousel-prev, .carousel-next {
    width: 25px;
    height: 25px;
    font-size: 16px;
  }
}

/* Estilo para pantallas muy pequeñas */
@media (max-width: 480px) {
  .carousel-prev, .carousel-next {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
};

.introduction-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto; /* Cambiado a auto para permitir que el contenido fluya correctamente */
  padding: 50px 10%; /* Reduce el espaciado en pantallas más pequeñas */
  background-color: #f7f7f7;
}

.introduction-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 50px 0;
  padding: 45px 20px;
}

.introduction-text {
  flex: 1;
  padding-right: 40px;
  text-align: left;
}

.introduction-image {
  flex: 1;
  margin-top: 2%;
  max-width: 500px;
}

.introduction-text, .introduction-image {
  max-width: 40%;
}

.introduction-text h2 {
  text-align: center;
  font-size: 3em;
  color: #00ccff;

}

.introduction-text p {
  font-size: 1.2em;
  text-align: justify;
}

.introduction-image img {
  width: 100%;
  height: auto;
}

/* Media query para pantallas medianas (hasta 992px) */
@media (max-width: 992px) {
  .introduction-section {
    padding: 40px 5%; /* Reduce el padding lateral */
  }

  .introduction-content {
    flex-direction: column; /* Cambia la dirección del contenido a columna */
    text-align: center;
  }

  .introduction-text, .introduction-image {
    max-width: 100%; /* Asegura que el texto y la imagen ocupen el 100% del ancho en pantallas más pequeñas */
  }

  .introduction-text {
    padding-right: 0; /* Elimina el padding lateral en pantallas pequeñas */
    margin-bottom: 20px; /* Añade espacio entre el texto y la imagen */
  }

  .introduction-text h2 {
    font-size: 1.8em; /* Ajusta el tamaño del título */
  }

  .introduction-text p {
    font-size: 1.1em; /* Ajusta el tamaño del párrafo */
  }
}

/* Media query para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .introduction-section {
    padding: 30px 5%; /* Reduce aún más el padding lateral */
  }

  .introduction-text h2 {
    font-size: 1.6em; /* Ajusta el tamaño del título */
  }

  .introduction-text p {
    font-size: 1em; /* Ajusta el tamaño del párrafo */
  }

  .introduction-image img {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo en pantallas pequeñas */
  }
}

/* Media query para pantallas muy pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .introduction-section {
    padding: 20px 2%; /* Aún menos padding lateral en pantallas muy pequeñas */
  }

  .introduction-text h2 {
    font-size: 1.4em; /* Ajusta el tamaño del título */
  }

  .introduction-text p {
    font-size: 0.9em; /* Ajusta el tamaño del párrafo */
  }
}












.introduction-image-container {
  position: relative;
  display: inline-block; /* Para que la imagen y el texto se ajusten al tamaño de la imagen */
}

.introduction-image img {
  width: 100%;
  height: auto;
}

.image-caption {
  position: absolute;
  bottom: 0; /* Posiciona el texto en la parte inferior de la imagen */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

.image-caption p {
  margin: 0;
}



.imagen-diagonal {
  width: 300px; /* Ancho de la imagen */
  height: 200px; /* Alto de la imagen */
  object-fit: cover; /* Ajusta la imagen */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); /* Define la forma diagonal */
  border: 2px solid #333; /* Opcional: agrega un borde para visualizar mejor */
}