/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Usa una fuente más moderna */
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f9; /* Fondo claro para contraste */
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding-top: 60px; /* Agrega un relleno para compensar la altura de la barra de navegación */
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f9;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(34, 193, 195, 0.8);
  border-bottom: 1px solid rgba(34, 193, 195, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  transition: background 0.3s ease;
}

.logo a {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo */
}

.logo img {
  height: 50px; /* Ajusta la altura del logo según tus necesidades */
  width: auto; /* Mantiene la proporción del logo */
  border: none; /* Elimina cualquier borde */
}

.nav-links {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex; /* Muestra los enlaces en línea */
  gap: 20px; /* Espacio entre los enlaces */
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #fff; /* Color del texto de los enlaces */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-size: 16px; /* Tamaño de fuente de los enlaces */
  padding: 10px; /* Espacio alrededor del texto */
  transition: color 0.3s ease; /* Transición suave para el color */
}

.nav-links a:hover {
  color: #22C1C3; /* Color de los enlaces al pasar el ratón */
}

/* Estilos responsivos */
.menu-toggle {
  display: none; /* Oculta el botón de menú hamburguesa por defecto */
  cursor: pointer;
  font-size: 1.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta el menú en pantallas pequeñas */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: rgba(34, 193, 195, 0.9);
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    z-index: 9; /* Asegura que el menú se muestre sobre el contenido */
  }

  .nav-links.show {
    display: flex; /* Muestra el menú cuando la clase 'show' está presente */
  }

  .menu-toggle {
    display: block; /* Muestra el botón de menú hamburguesa en pantallas pequeñas */
  }
}



/* Estilos para la sección de servicios */
.services-section {
  margin-top: 50px;
  padding: 50px 5%;
  background-color: #f0f0f0;
  background-image: url("images/fondo-web3.png");
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
  background-position: center top; /* Centra la imagen*/
  background-repeat: no-repeat; /* Evita que la imagen se repita */
   
}

.services-section h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra negra ligera */
  color: #22C1C3;
  text-align: center;
  margin-bottom: 20px;
}

.services-section p {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

/* Estilos del contenedor de servicios */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Alinea los elementos con espacio entre ellos */
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilos para las tarjetas de servicio individuales */
.service-card {
  cursor: default;
  flex: 1 1 calc(25% - 20px); /* Ajusta el tamaño de cada tarjeta al 25% del contenedor con un margen */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones */
}

/* Estilo de los íconos dentro de las tarjetas */
.service-card img {
  width: 80px; /* Tamaño fijo para los íconos */
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Transición para transformaciones */
}

/* Animación de hover para los íconos */
@keyframes iconBounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Estilos cuando se hace hover sobre la tarjeta */
.service-card:hover {
  background-color: #FFD700 ;
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.service-card:nth-child(1):hover {
  background-color: #b283f0;
}

.service-card:nth-child(2):hover {
  background-color: #FFD700 ;
}

.service-card:nth-child(3):hover {
  background-color: #00CED1 ;
}

.service-card:nth-child(4):hover {
  background-color: #00FF7F ;
}

.service-card:nth-child(5):hover {
  background-color: #20B2AA  ;
}


/* Efecto de animación para los íconos cuando se hace hover sobre la tarjeta */
.service-card:hover img {
  animation: iconBounce 0.6s ease-in-out; /* Aplica la animación de rebote al hacer hover */
}

.service-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.service-card:hover h3 {
  color: white;
}

.service-card p {
  font-size: .9rem;
  color: #666;
  transition: font-weight 0.3s ease;
}

.service-card:hover p {
  font-weight: bold;
}


/* Media query para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 1024px) {
  .service-card {
    flex: 1 1 calc(50% - 20px); /* Cada tarjeta ocupará el 50% del contenedor en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 1 1 calc(100% - 20px); /* En pantallas pequeñas, las tarjetas ocuparán el 100% del contenedor */
  }
}


/* Estilos para la sección de misión */
.mission-section {
  padding: 50px 5%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.9) 0%, rgba(216, 191, 216, 1) 40%, rgba(216, 191, 216, 0.8) 70%, rgba(216, 191, 216, 0) 100%);
}


.mission-content {
  display: flex;
  justify-content: space-between; /* Asegura que el texto y la imagen estén separados */
  align-items: center; /* Alinea verticalmente el contenido */
  gap: 30px;

}

.mission-image {
  flex: 1;
  max-width: 50%; /* Controla el tamaño de la imagen */


}

.mission-image img {
  width: 50%; /* La imagen ocupa todo el ancho del contenedor */
  max-height: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: float-and-sway 6s ease-in-out infinite;
}

.mission-text {
  flex: 1;
  max-width: 50%; /* Controla el tamaño del texto */

}

.mission-text h2 {
  font-size: 2.5rem;
  color: #FF0080; /* Color azul-verde */
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra negra ligera */
}

.mission-text p {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #333;
  line-height: 1.6;
  transform: translateX(-150px);
  overflow: hidden;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .mission-content {
    flex-direction: column; /* En pantallas pequeñas, coloca la imagen y el texto uno debajo del otro */
  }

  .mission-image,
  .mission-text {
    max-width: 100%; /* En pantallas pequeñas, ambos elementos ocuparán el ancho completo */
  }
}


.aliados{
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aliados-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aliados h2{
  opacity: 0.8;
  color: #666;
  padding-bottom: 15px;
}

.aliados img{
  max-width: 30%;
  max-height: 100px; 
  padding: 0 20px;
  opacity: 0.5;
}



.scroll-effect-section {
  height: 80vh; /* Aumenta la altura para que sea más grande */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}



/* Animación de flotación y balanceo */
@keyframes float-and-sway {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px); /* Mueve hacia la derecha y arriba */
  }
  50% {
    transform: translate(0, 0); /* Regresa a la posición original */
  }
  75% {
    transform: translate(-10px, -10px); /* Mueve hacia la izquierda y arriba */
  }
  100% {
    transform: translate(0, 0); /* Regresa a la posición original */
  }
}


/* styles.css */
.scroll-effect-section {
  height: 280px; /* Ajusta según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.image-container img {
  width: 100%;
  height: auto;
  transform: scale(1); /* Estado inicial del zoom */
  transition: transform 1s ease-out; /* Suaviza el zoom */
}

.image-container.scrolled img {
  transform: scale(1.2); /* Zoom aplicado */
}
