/* styles.css */
.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    background: rgba(34, 193, 195, 0.7); /* Fondo con color azul-verde y opacidad */
    border-bottom: 1px solid rgba(34, 193, 195, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px; /* Agregar un poco de espacio dentro de la navbar */
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #22C1C3;
}
